---
import '../../styles/global.css'
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
const url = Astro.canonicalURL
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={description} />
		<meta name="og:url" content={url} />
		<meta name="twitter:title" content={title}/>
		<meta name="twitter:description" content={description}/>
		<meta itemprop="name" content={title} />
    <meta itemprop="description" content={description} />
		<link rel="canonical" href={url} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body>
		<header role="banner">
			<div class="flex justify-between p-4">
        <div><a href="/"><div class=" h-10 w-10 p-4 rounded-full text-center text-white bg-gradient-to-r from-[#4f39fa] to-[#da62c4]">KF</div></a></div>
				<div id="links">
			
				</div>
			</div>
		</header>
		<slot />
		<footer role="contentinfo" class="border-t-1 border-black p-4 flex flex-row-reverse"><span class="text-sm">&copy; 2022 Kevin Fisher</span></footer>
	</body>
</html>
<style>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
		display: flex;
		flex-direction: column;
		height:100vh;
	}

	:global(h1) {
		font-size: var(--font-size-xl);
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
